h1, p, a {
font-family: verdana;
text-align: center;

}

h1 {
  font-size: 50px;
  color: white;

}

body {
  background-color: black;
  text-align: center;

}

a{
  font-size: 16px;
  color: aquamarine;

}
